body {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #game-intro {
    padding: 20px 0px;
  }
  
  #game-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
  }
  
  #game-screen {
    display: none;
    width: 1200px;
    min-height: 563px;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/bacground.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    animation: slide 4s linear infinite;
  }

  .score{
    
  }
  
  @keyframes slide {
    0% {
      background-position: 1280px 0;
    }
  }
  
  #game-end {
    display: none;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
  
  .logo-img {
    width: 350px;
  }

  .key-img {
    width: 100px;
    margin: 20px;
  }

  .items-img {
    width: 100px;
    margin: 20px;
  }
  
  body button {
    font-size: 30px;
    background-color: #ffc600;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  